

@font-face{
  font-family: "BeVietNamPro";
  src: url(./assets/fonts/BeVietnamPro-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

*{
  font-family: "BeVietNamPro" !important;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

svg{
  vertical-align: baseline !important;
}

input[readonly] {
  background-color: #f4f4f4; /* Light gray background */
  color: #6c757d; /* Dark gray text */
  border-color: #ced4da; /* Light gray border */
}


