<footer class="p-2">
  <div class="footer-content">
    <div class="logo">
      <img src="../../../../assets/images/logoFooter.svg" alt="">
    </div>
    <div>
      <table class="borderless-table">
        <tr>
          <td>
            Home
          </td>
          <td>
            Event
          </td>
        </tr>
        <tr>
          <td>
            Directory
          </td>
          <td>
            News
          </td>
        </tr>
        <tr>
          <td>
            Organization
          </td>
          <td>
            Account
          </td>
        </tr>
        <tr>
          <td>
            Individual
          </td>
          <td>

          </td>
        </tr>
      </table>
    </div>
    <div>
      <h3>Contact</h3>
      <div class="d-flex align-items-center"><mat-icon class="icon" svgIcon="facebook"></mat-icon>&nbsp;FPT University Alumni</div>
      <div class="d-flex align-items-center"><mat-icon class="icon" size="20" svgIcon="mail"></mat-icon>&nbsp;job@fe.edu.vn</div>
      <div class="d-flex align-items-center"><mat-icon class="icon" size="20" svgIcon="phone"></mat-icon>&nbsp;024 7300 5569</div>
    </div>
  </div>
</footer>
